<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Management Suit!{% endblock title %}</title>
        {% stylesheets filter='lessphp'
            "@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less"
            "css/style.css"
            output="application.css"
        %} <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
        {% endstylesheets%}
        {% block stylesheets %}{% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <header>
            {% block header %}
                <div class="container-fluid">
                    <div class="pull-left">
                        <h1>Logo</h1>
                    </div>
                    <div class="pull-right">
                        <h1>Management Suit</h1>
                    </div>
                </div>
            {% endblock header %}
        </header>

        <div class="navbar">
            {% block navbar %}
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <ul class="nav">
                            <li><a class="active" href="#">Menu 1</a></li>
                            <li><a href="#">Menu 2</a></li>
                            <li><a href="#">Menu 3</a></li>
                            <li><a href="#">Menu 4</a></li>
                            <li><a href="#">Menu 5</a></li>
                            <li><a href="#">Menu 6</a></li>
                        </ul>
                    </div>
                </div>
            {% endblock navbar%}
        </div>

        <div class="container-fluid">

            <div class="breadcrumbs row-fluid">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </div>

            <div class="content row-fluid">
                {% block content %}

                {% endblock content %}
            </div>
        </div>

        <footer>
            <div class="container-fluid">
                
            </div>
        </footer>
        {% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% javascripts filter='yui_js'
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-affix.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js"
            "@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js"
            output="application.js"
        %} <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
