/* ==========================================================================
   Project's custom styles
   ========================================================================== */
@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold-webfont.eot');
    src: url('../fonts/helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-bold-webfont.woff') format('woff'),
         url('../fonts/helvetica-bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-bold-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/4864-webfont.eot');
    src: url('../fonts/4864-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/4864-webfont.woff') format('woff'),
         url('../fonts/4864-webfont.ttf') format('truetype'),
         url('../fonts/4864-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {font-family:'helveticaregular', arial, sans-serif;color:#222;}
a {color:#5eadbd;}
:focus {outline:0;}
input, button, select, textarea {font-family:'helveticaregular', arial, sans-serif;}

/*======================================== header ==============================================*/

.container-fluid { max-width: 1170px; margin: 0 auto; padding: 0;}
header .container-fluid { padding: 25px 0 20px;}
header .pull-right { text-align: right; font-size: 12px;}
header .pull-right h1 { color:#222; font-family: 'museo500'; font-size:24px; margin: 0;font-weight:normal; line-height: 30px;}

/*======================================== nav bar ==============================================*/

.navbar .container-fluid { max-width: auto; padding: 0px;}
.navbar-inner {border-radius:0;border-width:1px 0;border-style:solid;border-color:#d4d4d4}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus,
.navbar .nav > li > a:hover {background:url(../img/bg_menu.gif) repeat-x;color:#FFF;}
.navbar .nav > li > a {text-shadow:0 0 0 transparent;color:#797979}
.navbar .nav li.dropdown > .dropdown-toggle:hover .caret {border-bottom-color:#FFF;border-top-color:#FFF;}

/*======================================== content ==============================================*/



