{% extends "::base.html.twig" %}

{% block header %}
    <div class="container-fluid">
        <div class="pull-left">
            <a href="{{ path('tarazz_core_homepage') }}">
                <img src="{{ asset('img/logo.png') }}" alt="Logo"/>
            </a>
        </div>
        <div class="pull-right">
            <h1>Management Suite</h1>

            {% if true %}
                <p class="pull-right">
                    You are logged in as {{ 'diennt' }}
                    <a href="#">Logout</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock header %}