{% extends 'TarazzCoreBundle::layout.html.twig' %}

{% block content %}
	<h1>Hello DienNT!</h1>
	<div>
		<a class="btn" type="button" href="#">Test button</a>
		<label class="test">
			Test label
		</label>
	</div>
{% endblock content %}